<!DOCTYPE html>
<html lang="en">
    <%- include('partials/encabesado.ejs') %>
    <body>
        <%- include('partials/cabecera.ejs') %>
        <main id="areaPrincipal" class="principal">
            <section>
            </section>
            <h2>Ofertas</h2>
            <section id="articulos" class="articulosCatalogo">
                <% for(let i= 0; i< productos.length ; i++){ %> 
                    <article class="articulo item">
                        <a href="/productos/detalleProducto/<%= productos[i].id %> ">
                            <img src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset="">
                            <div class="descripcionProducto">
                                <p ><strong>$<%= productos[i].price %></strong> </p>
                                <p ><%= productos[i].discount %> % off</p>
                            </div>
                            <div class="efecto"></div>
                        </a>
                    </article>
                <%}%>
            </section>
            <h2>Remate</h2>
            <section id="articulos" class="articulosCatalogo">
                <% for(let i= 0; i< productos.length ; i++){ %> 
                    <article class="articulo item">
                        <a href="/productos/detalleProducto/<%= productos[i].id %> ">
                            <img src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset="">
                            <div class="descripcionProducto">
                                <p ><strong>$<%= productos[i].price %></strong> </p>
                                <p ><%= productos[i].discount %> % off</p>
                            </div>
                            <div class="efecto"></div>
                        </a>
                    </article>
                <%}%>
            </section>
        </main>
        <!-- vista parcial de Footer -->
        <%- include('partials/pie.ejs') %>
        <script src="/js/IndexProductos.js"></script>
    </body>
</html>
