<!DOCTYPE html>
<html lang="en">
    <%- include('partials/encabesado.ejs') %>
    <body>
        <%- include('partials/cabecera.ejs') %>
        <main id="areaPrincipal">
            <section>
            </section>
            <section id="articulos">
                <% for(let i= 0; i< productos.length ; i++){ %> 
                    <article class="articulo">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="" srcset="">
                        <div class="envio"><i class="fas fa-truck"></i></div>
                        <div class="descripcionProducto">
                            <p class="precios">$<%= productos.name %></p>
                            <p class="descuento"><%= productos.discount %>% off</p>
                            <!-- <p class="descuento"><%= productos.description %>% off</p> -->
                            <!-- <h3 class="descripcion"><%= productos.description %></h3> -->
                        </div>
                        <div class="efecto"></div>
                    </article>
                <%}%>
            </section>
        </main>
        <!-- vista parcial de Footer -->
        <%- include('partials/pie.ejs') %>
    </body>
</html>
