<!DOCTYPE html>
<html lang="en">
    <%- include('partials/encabesado.ejs') %>
    <body>
        <%- include('partials/cabecera.ejs') %>
        <%- include('partials/menuDesplegable.ejs') %>
        <!-- <div id="locacionPagina">
            <p>Home > Catálogo</p>
        </div> -->
        <main id="areaPrincipal" class="principal">
            <section>
            </section>
            <h2>Exclusivos</h2>
            <section id="articulos" class="articulosExclusivos">
                <% if( productos.length != 0 ){ %>
                    <% for(let i= 0; i< productos.length ; i++){ %> 
                        <article class="articulo item" >
                            <a href="/productos/detalleProducto/<%= productos[i].id %> ">
                                <!-- <img class="viewImage" src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset=""> -->
                                
                                <div>
                                    <div>
                                        <img   src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset="">
                                    </div>
                                    <h3><strong><%= productos[i].name  %></strong></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                    <p ><a style="color: red; font-size: large;" href=""><strong>$<%= productos[i].discount %> </strong><span style="color: black; font-size: small;">$<%= productos[i].price %></span></a></p>
                                    <!-- <a id="boton<%- i+1%>" href="#" class="botonPrimario" style="color: white;"><i class="fas fa-cart-plus"></i></a> -->
                                </div>
                                <div>
                                    <p id="idProducto<%- i%>" hidden ><%= productos[i].id  %></p>
                                    <p id="nombreProducto<%- i%>" hidden  ><%= productos[i].name  %></p>
                                    <p id="precioProducto<%- i%>" hidden  ><%= productos[i].price  %></p>
                                    <p id="descuentoProducto<%- i%>" hidden  ><%= productos[i].discount  %></p>
                                    <p id="cantidadProducto<%- i%>" hidden >1</p>
                                    <p id="imaPrin<%- i%>" hidden >/images/imagenesDeProductos/<%= productos[i].image[0].name %></p>
                                </div>
                                <div>
                                        
                                    <a id="boton<%- i+1%>" href="#" class="botonPrimario" style="color: white;"><i class="fas fa-cart-plus"></i></a>
                                    
                                </div>
                                
                                <!-- <div class="descripcionProducto">
                                    <div>
                                        <p id="idProducto<%- i%>" hidden ><%= productos[i].id  %></p>
                                        <p id="nombreProducto<%- i%>" hidden  ><%= productos[i].name  %></p>
                                        <p id="precioProducto<%- i%>" hidden  ><%= productos[i].price  %></p>
                                        <p id="descuentoProducto<%- i%>" hidden  ><%= productos[i].discount  %></p>
                                        <p id="cantidadProducto<%- i%>" hidden >1</p>
                                        <p id="imaPrin<%- i%>" hidden >/images/imagenesDeProductos/<%= productos[i].image[0].name %></p>
                                    </div>
                                    <div>
                                        <p ><strong>$<%= productos[i].price %></strong> </p>
                                        <p ><%= productos[i].discount %> % off</p>
                                    </div>
                                    <div>
                                        
                                        <a id="boton<%- i+1%>" href="#" class="botonPrimario" style="color: white;"><i class="fas fa-cart-plus"></i></a>
                                        
                                    </div> -->
                                </div>
                            </a>



                        </article>
                    <%}%>
                <% } else { %>
                    <article >
                        <p>De momento no hay productos a consultar...</p>
                    </article>
                <% } %>
            </section>
            <!-- <h2>Ofertas</h2>
            <section id="articulos" class="articulosCatalogo">
                <% if( productos.length != 0 ){ %>
                    <% for(let i= 0; i< productos.length ; i++){ %> 
                        <article class="articulo item" >
                            <a href="/productos/detalleProducto/<%= productos[i].id %> ">
                                
                                <div>
                                    <div>
                                        <img   src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset="">
                                    </div>
                                    <h3><strong><%= productos[i].name  %></strong></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                    <p ><a style="color: red; font-size: large;" href=""><strong>$<%= productos[i].discount %> </strong><span style="color: black; font-size: small;">$<%= productos[i].price %></span></a></p>
                                    
                                </div>
                                <div class="descripcionProducto">
                                    <div>
                                        <p id="idProducto<%- i%>" hidden ><%= productos[i].id  %></p>
                                        <p id="nombreProducto<%- i%>" hidden  ><%= productos[i].name  %></p>
                                        <p id="precioProducto<%- i%>" hidden  ><%= productos[i].price  %></p>
                                        <p id="descuentoProducto<%- i%>" hidden  ><%= productos[i].discount  %></p>
                                        <p id="cantidadProducto<%- i%>" hidden >1</p>
                                        <p id="imaPrin<%- i%>" hidden >/images/imagenesDeProductos/<%= productos[i].image[0].name %></p>
                                    </div>
                                    <div class="divPrice">
                            
                                        <div>
                                            <p>
                                                <a style="color: red; font-size: large;" href="">
                                                    <strong>$<%= productos[i].discount %> </strong>
                                                    <span style="color: black; font-size: small;">$<%= productos[i].price %></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div>
                                            <a id="boton<%- i+1%>" href="#" class="botonPrimario" 
                                                style="color: white;"><i class="fas fa-cart-plus"></i></a> 
                                        </div>

                                    </div>
                                   
                                </div>
                            </a>
                        </article>
                    <%}%>
                <% } else { %>
                    <article >
                        <p>De momento no hay productos a consultar...</p>
                    </article>
                <% } %>
            </section> -->
            <h2>Remate</h2>
            <section id="articulos" class="articulosCatalogo">
                <% if( productos.length != 0 ){ %>
                    <% for(let i= 0; i< productos.length ; i++){ %> 
                        <article class="articulo item">
                            <a href="/productos/detalleProducto/<%= productos[i].id %> ">
                                <img src="/images/imagenesDeProductos/<%= productos[i].image[0].name %>" alt="" srcset="">
                                <div class="descripcionProducto">
                                    <p ><strong>$<%= productos[i].price %></strong> </p>
                                    <p ><%= productos[i].discount %> % off</p>
                                </div>
                                <div class="efecto"></div>
                            </a>
                        </article>
                    <%}%>
                <% } else { %>
                    <article >
                        <p>De momento no hay productos a consultar...</p>
                    </article>
                <% } %>
            </section>
        </main>
        <!-- vista parcial de Footer -->
        <%- include('partials/pie.ejs') %>
        <script src="/js/IndexProductos.js"></script>
    </body>
</html>
