<!DOCTYPE html>
<html lang="en">
  <%- include('partials/encabesado.ejs') %>
  <body>
    <%- include('partials/cabecera.ejs') %>
    <main id="areaPrincipal">
      <section id="vistaListaProductos">
        <h1>Lista de Productos</h1>
        <div id="botonCrear">
          <a type="submit" href="/productos/registrarProducto" class="botonPrimario">
            <!-- <i class="fas fa-pen"></i> -->
            <span class="material-icons">add </span>
            <!-- <span class="material-icons">face</span> -->
          </a>	
        </div>
          <% for(let i= 0; i< productos.length ; i++){ %> 
            <% if(i % 2 == 0 ){ %>
            <div id="producto" class="colorTenue">
              <div class="miniaturaImage">
                <img src="/images/imagenesDeProductos/<%= productos[i].image[0].name ? productos[i].image[0].name : 'default-image.png' %>" alt="imagenProducto">
                <!-- <img src="/images/imagenesDeProductos/<%= productos[i].image %>" alt="imagenProducto"> -->
              </div>
              <div class="info">
                <p class="estiloParrafo">
                      Nombre:
                      <strong>
                        <%= productos[i].name%>
                      </strong> 
                      <br>
                      Categoria:
                      <strong>
                        <%= productos[i].category%> 
                      </strong>
                      stock:
                      <strong>
                        <%= productos[i].stock %>
                      </strong>
                      <br>
                      Precio:
                      <strong>
                        <%= productos[i].price%>
                      </strong>
                      Descuento:
                      <strong>
                        <%= productos[i].discount %>
                      </strong>
                      <br>
                      Porcentaje de descuento:
                      <strong>
                        %<%= productos[i].discountRate %> 
                      </strong>
                      <br>  
                      <a href="/productos/detalleProducto/<%= productos[i].id %> ">Ver detalles</a>  
                </p> 
              </div>
              <div class="botonera">
                <a type="submit" href="/productos/editarProducto/<%= productos[i].id%>" class="botonPrimario">
                  Actualizar
                </a>
                <form id="diveliminar" action="/productos/eliminaProducto/<%= productos[i].id%>?_method=DELETE" method="post">
                  <input type="submit"  class="botonSecundario" value="Eliminar">
                </form>
              </div>
            </div>
          <% }else{%>
            <div id="producto" class="colorOscuro">
                <div class="miniaturaImage">
                  <img src="/images/imagenesDeProductos/<%= productos[i].image[0].name ? productos[i].image[0].name : 'default-image.png' %>" alt="imagenProducto">
                </div>
                <div class="info">
                  <p class="estiloParrafo">
                        Nombre:
                        <strong>
                          <%= productos[i].name%>
                        </strong> 
                        <br>
                        Categoria:
                        <strong>
                          <%= productos[i].category%> 
                        </strong>
                        stock:
                        <strong>
                          <%= productos[i].stock %>
                        </strong>
                        <br>
                        Precio:
                        <strong>
                          <%= productos[i].price%>
                        </strong>
                        Descuento:
                        <strong>
                          <%= productos[i].discount %>
                        </strong>
                        <br>
                        Porcentaje de descuento:
                        <strong>
                          %<%= productos[i].discountRate %> 
                        </strong>
                        <br>
                        <a href="/productos/detalleProducto/<%= productos[i].id %> ">Ver detalles</a>
                  </p>
                </div>
                <div class="botonera">
                  <a type="submit" href="/productos/editarProducto/<%= productos[i].id%>" class="botonPrimario">
                    Actualizar
                  </a>
                  <form id="diveliminar" action="/productos/eliminaProducto/<%= productos[i].id%>?_method=DELETE" method="post">
                    <input type="submit"  class="botonSecundario" value="Eliminar">
                  </form>
                </div>
            </div>
        <%}%> <% } %>
      </section>
    </main>
    <%- include('partials/pie.ejs') %>
  </body>
</html>
