<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/imagenesIndex/logo_16_x_16.svg" type="image/x-icon">
    <!-- iconos -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" -->
    <!-- fuentes externas -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300;600&display=swap" rel="stylesheet"> 
    <!-- hojas de estilo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modal-styles.css">
    <link rel="stylesheet" href="/css/listaProductos.css">
    <title>Eduardishion-shop</title>
</head>
  <body>
    <main id="areaPrincipal">
      <section id="vistaListaProductos">
        <h1>Lista de productos</h1>
        <div id="botonCrear">
          <a type="submit" href="/productos/registrarProducto" class="botonPrimario">
            <!-- <i class="fas fa-pen"></i> -->
            <span class="material-icons">add </span>
            <!-- <span class="material-icons">face</span> -->
          </a>	
        </div>
          <% for(let i= 0; i< productos.length ; i++){ %> 
            <% if(i % 2 == 0 ){ %>
            <div id="producto" class="colorTenue">
              <div class="miniaturaImage">
                <img src="/images/imagenesDeProductos/<%= productos[i].image ? productos[i].image : 'default-image.png' %>" alt="imagenProducto">
                <!-- <img src="/images/imagenesDeProductos/<%= productos[i].image %>" alt="imagenProducto"> -->
              </div>
              <div class="info">
                <p class="estiloParrafo">
                      Nombre:
                      <strong>
                        <%= productos[i].name%>
                      </strong> 
                      <br>
                      Categoria:
                      <strong>
                        <%= productos[i].category%> 
                      </strong>
                      stock:
                      <strong>
                        <%= productos[i].stock %>
                      </strong>
                      <br>
                      Precio:
                      <strong>
                        <%= productos[i].price%>
                      </strong>
                      Descuento:
                      <strong>
                        <%= productos[i].discount %>
                      </strong>
                      <br>
                      Porcentaje de descuento:
                      <strong>
                        %<%= productos[i].discountRate %> 
                      </strong>
                      <br>  
                      <a href="/productos/detalleProducto/<%= productos[i].id %> ">Ver detalles</a>  
                </p> 
              </div>
              <div class="botonera">
                <a type="submit" href="/productos/editarProducto/<%= productos[i].id%>" class="botonPrimario">
                  Actualizar
                </a>
                <form id="diveliminar" action="/productos/eliminaProducto/<%= productos[i].id%>?_method=DELETE" method="post">
                  <input type="submit"  class="botonSecundario" value="Eliminar">
                </form>
              </div>
            </div>
          <% }else{%>
            <div id="producto" class="colorOscuro">
                <div class="miniaturaImage">
                  <img src="/images/imagenesDeProductos/<%= productos[i].image ? productos[i].image : 'default-image.png' %>" alt="imagenProducto">
                </div>
                <div class="info">
                  <p class="estiloParrafo">
                        Nombre:
                        <strong>
                          <%= productos[i].name%>
                        </strong> 
                        <br>
                        Categoria:
                        <strong>
                          <%= productos[i].category%> 
                        </strong>
                        stock:
                        <strong>
                          <%= productos[i].stock %>
                        </strong>
                        <br>
                        Precio:
                        <strong>
                          <%= productos[i].price%>
                        </strong>
                        Descuento:
                        <strong>
                          <%= productos[i].discount %>
                        </strong>
                        <br>
                        Porcentaje de descuento:
                        <strong>
                          %<%= productos[i].discountRate %> 
                        </strong>
                        <br>
                        <a href="/productos/detalleProducto/<%= productos[i].id %> ">Ver detalles</a>
                  </p>
                </div>
                <div class="botonera">
                  <a type="submit" href="/productos/editarProducto/<%= productos[i].id%>" class="botonPrimario">
                    Actualizar
                  </a>
                  <form id="diveliminar" action="/productos/eliminaProducto/<%= productos[i].id%>?_method=DELETE" method="post">
                    <input type="submit"  class="botonSecundario" value="Eliminar">
                  </form>
                </div>
            </div>
        <%}%> <% } %>
      </section>
    </main>
    <%- include('partials/Footer.ejs') %>
  </body>
</html>
