<!DOCTYPE html>
<html lang="en">
  <%- include('partials/encabesado.ejs') %>
  <body>
    <%- include('partials/cabecera.ejs') %>
    <main id="areaPrincipal">
      <section id="vistaListaUsuarios">
        <h1>Lista de Usuarios</h1>
        <div id="botonCrear">
          <a type="submit" href="/usuarios/registrarUsuario" class="botonPrimario">
            <!-- <i class="fas fa-pen"></i> -->
            <span class="material-icons">add </span>
            <!-- <span class="material-icons">face</span> -->
          </a>	
        </div>
          <% for(let i= 0; i< usuarios.length ; i++){ %> 
            <% if(i % 2 == 0 ){ %>
            <div id="usuario" class="colorTenue">
              <div class="miniaturaImage user">
                <img src="/images/imagenesUsuarios/<%= usuarios[i].image ? usuarios[i].image : 'default-image.png' %>" alt="imagenUsuario">
                <!-- <img src="/images/imagenesDeusuarios/<%= usuarios[i].image %>" alt="imagenUsuario"> -->
              </div>
              <div class="info">
                <p class="estiloParrafo">
                      Nombre:
                      <strong>
                        <%= usuarios[i].firstName%>
                        <%= usuarios[i].lastName%> 
                      </strong> 
                      <br>
                      Email:
                      <strong>
                        <%= usuarios[i].email %>
                      </strong>
                      <br>
                      Categoria:
                      <strong>
                        <%= usuarios[i].category%>
                      </strong>
                      <br>  
                      <a href="/usuarios/detalleUsuario/<%= usuarios[i].id %> ">Ver detalles</a>  
                </p> 
              </div>
              <div class="botonera">
                <a type="submit" href="/usuarios/editarUsuario/<%= usuarios[i].id%>" class="botonPrimario">
                  Actualizar
                </a>
                <form id="diveliminar" action="/usuarios/eliminaUsuario/<%= usuarios[i].id%>?_method=DELETE" method="post">
                  <input type="submit"  class="botonSecundario" value="Eliminar">
                </form>
              </div>
            </div>
          <% }else{%>
            <div id="usuario" class="colorTenue">
              <div class="miniaturaImage user">
                <img src="/images/imagenesUsuarios/<%= usuarios[i].image ? usuarios[i].image : 'default-image.png' %>" alt="imagenUsuario">
                <!-- <img src="/images/imagenesDeusuarios/<%= usuarios[i].image %>" alt="imagenUsuario"> -->
              </div>
              <div class="info">
                <p class="estiloParrafo">
                      Nombre:
                      <strong>
                        <%= usuarios[i].firstName%>
                        <%= usuarios[i].lastName%> 
                      </strong> 
                      <br>
                      Email:
                      <strong>
                        <%= usuarios[i].email %>
                      </strong>
                      <br>
                      Categoria:
                      <strong>
                        <%= usuarios[i].category%>
                      </strong>
                      <br>  
                      <a href="/usuarios/detalleUsuario/<%= usuarios[i].id %> ">Ver detalles</a>  
                </p> 
              </div>
              <div class="botonera">
                <a type="submit" href="/usuarios/editarUsuario/<%= usuarios[i].id%>" class="botonPrimario">
                  Actualizar
                </a>
                <form id="diveliminar" action="/usuarios/eliminaUsuario/<%= usuarios[i].id%>?_method=DELETE" method="post">
                  <input type="submit"  class="botonSecundario" value="Eliminar">
                </form>
              </div>
            </div>
        <%}%> <% } %>
      </section>
    </main>
    <%- include('partials/pie.ejs') %>
  </body>
</html>
