<!DOCTYPE html>
<html lang="en">
	<%- include('partials/encabesado.ejs') %>
	<body>
		<%- include('partials/cabecera.ejs') %>
		<main id="areaPrincipal">
				<section id="vistaCrearProductos">
					<h1>Iniciar Sesión</h1>
					<p id="redireccion">
						<strong>
							¿No tienes una cuenta? <a href="/usuarios/registrarUsuario">Entra aqui.</a>
						</strong>
					</p>
					<div id="contenedorDeFormulario">
							<form action="/usuarios/verificaSesion" method="POST" >
								<div>
									<label for="email">
										<!-- <strong>Nombre:</strong>  -->
										<input type="email" name="email" value="<%= locals.DataOld ? DataOld.email : null %>" placeholder="Email">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.email){ %>
											<p class="errorDatosE" ><%= msgsErrors.email.msg %></p>
										<% } %>
									</div>
								</div>
								<div>
									<label for="password">
										<!-- <strong>Nombre:</strong>  -->
										<input type="password" name="password" value="<%= locals.DataOld ? DataOld.password : null %>" placeholder="Contraseña">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.password){ %>
											<p class="errorDatosE" ><%= msgsErrors.password.msg %></p>
										<% } %>
									</div>
								</div>
								<!-- partado de checkbox de recordarme mi session no importando se se cierra el navegador -->
								<label for="recordarme">			
									Recordar mi usuario <input type="checkbox" name="recordarme" >
								</label>
								<div id="boton">
									<input type="submit" value="Iniciar Sesion" class="botonPrimario">
									
									<p id="redirecciontienda">
										<strong>
											<a href="/">Volver a tienda.</a>
										</strong>
									</p>		
								</div>
							</form>
							<% if( locals.errorValidacion ){ %>
								<p class="errorDatosE" ><%= errorValidacion %></p>
							<% } %>
					</div>
				</section>
		</main>
		<%- include('partials/pie.ejs') %>
	</body>
</html>