<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/encabesado") %>
    <body>
        <!-- vista parcial de header -->
        <%- include('partials/cabecera.ejs') %>
        <main id="areaPrincipalPerfilUsuario">
            <section id="contenedorDePerfilUsuario">
                <div id="perfilUsuario" >
                    <div class="infoUsuario">
                      <div class="miniaturaImageUser user">
                        <img src="/images/imagenesUsuarios/<%= locals.usuarioLogeado.image ? locals.usuarioLogeado.image : 'default-image.png' %>" alt="imagenUsuario">
                        <!-- <img src="/img/default-image.png" alt="imagenUsuario"> -->
                      </div>
                      <div>
                        <p class="estiloParrafo">
                              Usuario:
                              <strong>
                                <%= locals.usuarioLogeado.firstName%>
                                <%= locals.usuarioLogeado.lastname%> 
                              </strong> 
                              <br>
                              Email:
                              <strong>
                                <%= locals.usuarioLogeado.email %>
                              </strong>
                        </p> 
                      </div>
                    </div>
                    
                </div>
            </section>
            <section id="contenedorDelistaProductos">
              <div>
                <h3>Lista de productos Seleccionados</h3>
                <ul id="listaProductosSeleccionados">
                  
                </ul>
              </div>
            </section>
        </main>
        <!-- vista parcial de Footer -->
        <%- include('partials/pie') %>
        <script type="text/javascript" src="/js/perfilDeUsuario.js"></script>
    </body>
</html>
