<!DOCTYPE html>
<html lang="en">
    <%- include('partials/Head.ejs') %>
    <body>
        <!-- vista parcial de header -->
        <%- include('partials/Header.ejs') %>
        <main id="areaPrincipal">
            <section>
                <!-- banner publicitario -->
            </section>
            <section>
                <div id="usuario" class="colorTenue">
                    <div class="miniaturaImage user">
                      <img src="/images/imagenesUsuarios/<%= locals.usuarioLogeado.image ? locals.usuarioLogeado.image : 'default-image.png' %>" alt="imagenUsuario">
                    </div>
                    <div class="info">
                      <p class="estiloParrafo">
                            Nombre:
                            <strong>
                              <%= locals.usuarioLogeado.firstName%>
                              <%= locals.usuarioLogeado.lastName%> 
                            </strong> 
                            <br>
                            Email:
                            <strong>
                              <%= locals.usuarioLogeado.email %>
                            </strong>
                      </p> 
                    </div>
                </div>
            </section>
        </main>
        <!-- vista parcial de Footer -->
        <%- include('partials/Footer.ejs') %>
    </body>
</html>
