<!DOCTYPE html>
<html lang="en">
	<%- include('partials/Head.ejs') %>
	<body>
		<!-- vista parcial de header -->
		<%- include('partials/Header.ejs') %>
		<!-- menu desplegable  -->
		<input type="checkbox" name="desplegar" id="desplegar" hidden>
		<ul id="menuVertical" >
			<li><a href="Index">Index</a></li>
			<li><a href="DetalleProducto">Producto</a></li>
			<li><a href="CarritoCompra">Carrito</a></li>
			<li><a href="#">Enlace</a></li>
			<li><a href="#">Enlace</a></li>
		</ul>
		<!-- menu desplegable  -->

		<!-- menu de lista productos  -->
		<input type="checkbox" name="desplegar2" id="desplegar2" hidden>
		<div class="model-overlay active" ><!--caja transparente-->
			<div class="modal"><!--caja blanca-->
				<div id="form">
					<h2>Lista de productos</h2>
					<form action="/CarritoCompra" method="get" id="formulario">
						<a href="/DetalleProducto">
							<div class="productoLista">
								<div class="eliminar">
									<img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
								</div>
								<div>
									<img src="/images/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
								</div>
								<div>
									<p class="nombreLista">
										Pro System Audiotek Tablero Arcade Videojuegos
									</p>
								</div>   
							</div>
						</a>
						<a href="/DetalleProducto">
							<div class="productoLista">
								<div class="eliminar">
									<img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
								</div>
								<div>
									<img src="/img/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
								</div>
								<div>
									<p class="nombreLista">
										Pro System Audiotek Tablero Arcade Videojuegos
									</p>
								</div>   
							</div>
						</a>
						<a href="/DetalleProducto">
							<div class="productoLista">
								<div class="eliminar">
									<img src="/images/imagenesModal/cancel_black_24dp.svg" alt="">
								</div>
								<div>
									<img src="/img/maquinita-izquierda.png" alt="imagen de producto" class="imagenLista">
								</div>
								<div>
									<p class="nombreLista">
										Pro System Audiotek Tablero Arcade Videojuegos
									</p>
								</div>   
							</div>
						</a>
						<div class="input-group actions">
							<a href="/CarritoCompra" type="submit" class="botonPrimario">Ver carrito</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<main id="areaPrincipal">
				<section id="vistaCrearProductos">
					<h1>Crear Cuenta</h1>
					<p id="redireccion">
						<strong>
							¿Ya tienes una cuenta? <a href="/usuarios/loginUsuario">Entra aqui.</a>
						</strong>
					</p>
					<div id="botonVista">
						<a type="submit" href="/usuarios/listaUsuarios" class="botonPrimario">
							<i class="fas fa-list-alt"></i>
						</a>
					</div>

					<div id="contenedorDeFormulario">
						<!-- <% if( locals.msgsErrors ){ %>		
							<% for (error in msgsErrors) {%>
								<p class="errorDatosE" ><%= msgsErrors[error].msg %></p>
							<% } %>
						<% } %> -->
							<form action="/usuarios/guardarUsuario" method="POST" enctype="multipart/form-data">
								<div>
									<label for="firstName">
										<!-- <strong>Nombre:</strong>  -->
										<input type="text" name="firstName" value="<%= locals.DataOld ? DataOld.firstName : null %>" placeholder="Nombre">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.firstName){ %>
											<p class="errorDatosE" ><%= msgsErrors.firstName.msg %></p>
										<% } %>
									</div>
								</div>
								<div>
									<label for="lastName">
										<!-- <strong>Nombre:</strong>  -->
										<input type="text" name="lastName" value="<%= locals.DataOld ? DataOld.lastName : null %>" placeholder="Apellidos">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.lastName){ %>
											<p class="errorDatosE" ><%= msgsErrors.lastName.msg %></p>
										<% } %>
									</div>
								</div>
								<div>
									<label for="email">
										<!-- <strong>Nombre:</strong>  -->
										<input type="email" name="email" value="<%= locals.DataOld ? DataOld.Email : null %>" placeholder="Email">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.email){ %>
											<p class="errorDatosE" ><%= msgsErrors.email.msg %></p>
										<% } %>
									</div>
								</div>
								<div>
									<label for="password">
										<!-- <strong>Nombre:</strong>  -->
										<input type="password" name="password" value="<%= locals.DataOld ? DataOld.Email : null %>" placeholder="Contraseña">
									</label>
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.password){ %>
											<p class="errorDatosE" ><%= msgsErrors.password.msg %></p>
										<% } %>
									</div>
								</div>
								<div>
									<label for="category">
										<!-- <strong>Categoria:</strong>  -->
										<!-- <br> -->
										<select 
											name="category" 
											id="SelectOp"
										>
											<option  value="" > Elige una categoria </option>
											
											<%
												let categorias = ['Administrador','Cliente'];
											%>

											<% for (const categoria of categorias) { %>
												
												<option  value=" <%= categoria %> " 
													
													<%= locals.DataOld && (categoria === DataOld.category.trim()) ? "selected" : null %>	> 
													
													<%= categoria %> </option>

											<% } %>

										</select>
										<div class="errorDatosE">
											<% if( locals.msgsErrors && msgsErrors.category){ %>
												<p class="errorDatosE" ><%= msgsErrors.category.msg %></p>
											<% } %>
										</div>
									</label>
								</div>
								<div>
									<label for="imagenUsuario">Imagen de usuario</label>
									<input type="file" name="imagenUsuario">
									<div class="errorDatosE">
										<% if( locals.msgsErrors && msgsErrors.imagenUsuario){ %>
											<p class="errorDatosE" ><%= msgsErrors.imagenUsuario.msg %></p>
										<% } %>
									</div>
								</div>
								<div id="boton">
									<input type="submit" value="Crear" class="botonPrimario">
								</div>
							</form>
					</div>
				</section>
		</main>
		<%- include('partials/Footer.ejs') %>
	</body>
</html>